*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
} 
.clr-btn{
    border: 0;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    background-color: rgb(70, 60, 146);
    color:rgb(246, 246, 249);
    cursor: pointer;
    margin: 15px;
}
.clr-btn:hover{
    background-color: aqua;
    color: black;
    transition-duration: 2s;
}
.container{
    border: 2px solid black;
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 30px;

}