*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.heading{
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
}
.clock{
    width: 450px;
    height: 450px;
    background-image:url('./clock.png') ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.clock::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}
.clock .hour, .clock .min, .clock .sec{
    position: absolute;
} 
.clock .hour, .hr{
    width: 160px;
    height: 160px;
} 
.hr, .mn, .sc{
    position: absolute;
    display: flex;
    justify-content: center;
}
 .hr::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 80px;
    background: #4152c2;
    border-radius: 6px 6px 0 0;
} 
.clock .min, .mn{
    width: 190px;
    height: 190px;
} 
.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #dadd5c;
    border-radius: 6px 6px 0 0;

} 
.clock .sec, .sc{
    width: 230px;
    height: 230px;
} 
.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #87877c;
    border-radius: 6px 6px 0 0;

} 