*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}
.container{
    width: 250px;
    height: 120px;
    border-radius: 20px;
    background: white;
    color: black;
    text-align: center;
}
h2{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    letter-spacing: 3px;
}
input{
    display: block;
    width: 80px;
    height: 20px;
    border-radius: 4px;
    margin: 10px auto;
    background: none;
}